<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stankhouse.scooterspeedometer">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <queries>
        <intent><action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" /></intent>
        <package android:name="com.sec.android.app.soundalive" />
        <package android:name="com.samsung.android.soundassistant" />
        <package android:name="com.oneplus.sound.tuner" />
        <package android:name="com.oplus.audio.effectcenter" />
        <package android:name="com.oplus.audio" />
        <package android:name="com.lge.audioeffect" />
        <package android:name="com.lge.music" />
        <package android:name="com.motorola.audiofx" />
        <package android:name="com.motorola.dolby.dolbyui" />
    </queries>

    <application
        android:name=".ScooterApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="Scooter Speedometer"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity" android:screenOrientation="sensor" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".BuiltInNavigationActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".BackupCameraActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".RiderLinkActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="riderlink" android:host="auth-callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RiderLinkSocialActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity
            android:name=".AvaturnActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensor"
            android:exported="false" />
        <activity android:name=".MaintenanceGarageActivity" android:hardwareAccelerated="true" android:screenOrientation="sensor" android:exported="false" />
        <activity android:name=".GroupRideActivity" android:hardwareAccelerated="true" android:screenOrientation="sensor" android:exported="false" />
        <activity android:name=".RiderEventsActivity" android:exported="false" />
        <activity android:name=".SafetyCircleActivity" android:hardwareAccelerated="true" android:screenOrientation="sensor" android:exported="false" />
        <service
            android:name=".MediaAccessService"
            android:exported="true"
            android:label="Scooter Speedometer music controls"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".DasherAccessibilityService" android:label="DoorDash offer capture"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/dasher_accessibility_service" />
        </service>
        <service
            android:name=".NavigationOverlayService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".RiderLinkPresenceService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />
        <service android:name=".SafetyTripService" android:exported="false" android:foregroundServiceType="location" android:stopWithTask="false" />
    </application>
</manifest>
